
.formula_block_body_1 {
    background-color:rgba(135,206,235, 0.5);
    text-align: center;
}

.formula_block_body_2 {
    text-align: center;
}

.formula_block_body_3 {
    text-align: center;
}

.formula_block_body_4 {
    background-color:rgba(135,206,235, 0.5);
    text-align: center;
}

.formula_block_body_5 {
    text-align: center;
}

.formula_block_body_6 {
    background-color:rgba(135,206,235, 0.5);
    text-align: center;
}

.formula_block_body_7 {
    text-align: center;
}

.formula_block_body_8 {
    text-align: center;
}

.formula_block_body_9 {
    background-color:rgba(135,206,235, 0.5);
    text-align: center;
}

.formula_block_body_10 {
    text-align: center;
}